<style>

  body{
    padding: 0;
    margin:0;
  }

</style>
<h2 id="title">Welcome to Embers</h2>
<div class="container">
{{multisearch-filter
    searchObjectsIn=model.items
    filters=searchFilters
    filterIconPosition='left'
    columnSize=5
    setFilteredObjects=(action "setFilteredObjects")
    setItemCounts=(action "setItemCounts")
    setQueryParams=(action "setQueryParams")
    filterGrouping=filterGrouping
    associateArrays=associateArrays
  }}



  <table class="table table-fixed table-striped table-striped-margin table-bordered">

    <thead>
        <tr>
              {{#sortable-table-column sort=(action 'sortColumns') target='firstName' desc=true}}First Name{{/sortable-table-column}}
              {{#sortable-table-column sort=(action 'sortColumns') target='lastName' desc=true}}Last Name{{/sortable-table-column}}
              {{#sortable-table-column sort=(action 'sortColumns') target='disabled' desc=true}}Disabled? {{/sortable-table-column}}

        </tr>
    </thead>

    <tbody>
        {{#each (sort-by sortBy application) as |item|}}
          <tr>
            <td>  {{item.firstName}} </td>
            <td>  {{item.lastName}} </td>

            <td>  {{item.disabled}} </td>
            {{#each item.dates as |date|}}
              <br />
            {{/each}}
            <td>

            {{#each item.relatives as |rel|}}
            {{rel}}
              <br />
            {{/each}}

                        </td>

            <td> 
            {{#each item.ages as |age|}}
              {{age}}
              <br />
            {{/each}}
            </td>

        </tr>
        {{/each}}
    </tbody>

  </table>
  {{grid-items-counter currentSize=currentSize totalSize=totalSize}}
  <div class="tab-content">

    <div class="grid-box mb-2">
      {{grid-key icon='asterisk' iconAltClass='roster-remove-asterisk' title='Eligible to be removed'}}
      {{grid-key icon='check-circle' title='User is Active'}}
      {{grid-key icon='minus-circle' iconAltClass='text-danger' title='User is Inactive'}}
    </div>
  </div>
</div>
